@font-face {
  font-family: "Sinter-Thin";
  src: url("../fonts/sinter/sinter-thin.otf") format("opentype");
}
@font-face {
  font-family: "Sinter-Light";
  src: url("../fonts/sinter/sinter-light.otf") format("opentype");
}
@font-face {
  font-family: "Sinter";
  src: url("../fonts/sinter/sinter-regular.otf") format("opentype");
}
@font-face {
  font-family: "Sinter-Medium";
  src: url("../fonts/sinter/sinter-medium.otf") format("opentype");
}
@font-face {
  font-family: "Sinter-SemiBold";
  src: url("../fonts/sinter/sinter-semiBold.otf") format("opentype");
}
@font-face {
  font-family: "Sinter-Bold";
  src: url("../fonts/sinter/sinter-bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: Sinter, sans-serif;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  color: rgb(10, 10, 10);
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

input, textarea, button {
  display: block;
  font-size: 1rem;
}
input:focus, textarea:focus, button:focus {
  outline: none;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.625rem 2rem;
  white-space: nowrap;
  border-radius: 4px;
  font-family: Sinter-Medium, sans-serif;
  transition: background-color 0.2s ease-in-out;
}
.button > img {
  height: 16px;
  margin-right: 10px;
}
.button.solid {
  background-color: #00D2DC;
}
.button.outlined {
  border: 1px solid #edeef3;
}
.button:hover {
  background-color: #00f2ff;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background-color: white;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #edeef3;
}
.header .brand {
  flex-shrink: 0;
  width: 110px;
}
.header .brand > img {
  width: 100%;
}
.header .brand.short {
  height: 2rem;
  display: none;
  width: -moz-fit-content;
  width: fit-content;
}
.header .brand.short > img {
  height: 100%;
}
.header > nav {
  display: flex;
  gap: 1.5rem;
  font-family: Sinter-Medium, sans-serif;
  font-size: 1.125rem;
}
.header > .flex {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  width: 100%;
  justify-content: flex-end;
}
.header > .burger {
  display: none;
  border: 1px solid #edeef3;
  border-radius: 4px;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
}
.header > .burger > img {
  width: 16px;
}
@media only screen and (max-width: 1379px) {
  .header {
    height: 64px;
    padding: 0 1.5rem;
  }
  .header > .brand {
    display: none;
  }
  .header > nav {
    font-size: 14px;
  }
}
@media only screen and (max-width: 960px) {
  .header {
    gap: 0.4rem;
  }
  .header .brand.short {
    height: 2rem;
    display: block;
  }
  .header > nav {
    display: none;
  }
  .header .button {
    display: none;
  }
  .header > .burger {
    display: flex;
  }
}

#menu {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
#menu.active {
  left: 0;
}

.search {
  border: 1px solid #edeef3;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  max-width: 420px;
  flex: 1;
  width: 100%;
}
.search img {
  height: 100%;
  width: 16px;
}
.search > a {
  padding: 0.625rem;
  border-left: 1px solid #edeef3;
}
.search > input {
  width: 100%;
  display: block;
  padding: 0.625rem 1.75rem 0.625rem 1rem;
  font-size: 0.8rem;
  opacity: 0.6;
  letter-spacing: 0.5px;
  font-family: Sinter-Light, sans-serif;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
  padding: 3rem;
}
.not-found > img {
  max-width: 400px;
}
.not-found > article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.not-found .title {
  font-family: sans-serif;
  letter-spacing: 1vw;
  font-size: clamp(6rem, 9vw, 9rem);
  line-height: 1;
}

.footer {
  border-top: 1px solid #edeef3;
  padding: 3rem;
  background-color: #FAFBFC;
}
.footer nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}
.footer nav > .col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer nav > .col > .title {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Sinter-Bold, sans-serif;
}
.footer nav > .col > a {
  font-family: Sinter-Light, sans-serif;
  font-size: 300;
}
@media only screen and (max-width: 1124px) {
  .footer nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;
  }
}
@media only screen and (max-width: 640px) {
  .footer nav {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 460px) {
  .footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.legal {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border-radius: 0.25rem;
  margin: 2rem auto;
}

.social {
  margin: 0 auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  gap: clamp(0.2rem, 4vw, 2rem);
}
.social > img {
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=main.css.map */